// write "npm run compile:sass when you want to convert"

$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// if you use the same property twice, then its recommended to define it in variable


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem; 
    /* 1rem = 10px?? */

    box-sizing: border-box;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh,0 100%);
}


.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo {
    height: 3.5rem;
} 

/* .header__logo-box:hover {
    animation: moveInRight 1s ease-out;
}  */

.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    backface-visibility: hidden;
    /* the usage of this property is normmaly for different purpose but here its used to get rid of the shaking at the end of the animation */
    margin-bottom: 6rem;
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;  
    /* you need to make the link to which selector you want the animation to happen */
    animation-duration: 1s;
    animation-timing-function: ease-out;
   
    /* 
    animation-delay: 3s;  //animation happnes three seconds after the reload
    animation-iteration-count: 3; // animation repeats three times 
    */
}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;

    animation: moveInRight 1s ease-out;
    /* you can shorten the properties and to have them like this works too */
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

    @keyframes moveInBottom {
        0% {
            opacity: 0;
            transform: translateY(3rem);
        }
        100% {
            opacity: 1;
            transform: translate(0);
        }
}    

.btn:link,
.btn:visited {
    /* link is called pseude-element. this is used to give special condition to the selected property */
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
}


.btn:hover {
    transform: translateY(-3px);

    /* positive number goes from top to bottom
    so if you want it to go up from bottom, then use negative number  */

    box-shadow: 0 1rem 2rem rgba($color-black, .2);
}

.btn:active {
    /* :active -> the following happens when you click the btn */
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
}

.btn--white {
    background-color: $color-white;
    color: $color-grey-dark;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn--white::after {
    background-color: $color-white;
}

.btn:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0;
}
 
.btn--animated {
    animation: moveInBottom .5s ease-out .5s;
    animation-fill-mode: backwards;
}


/* ================================= */
/* ================================= */

/* .header__logo {
    height: 3.5rem;
}

.header__logo--green {
    color: green;
}

.header__logo:hover {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    color: red;
    background-color: hotpink;
}

.header__logo--green::after {
    color: green;
}

.header__logo:hover::after {
    transform: scaleX(2) scaleY(2);
    opacity: 0;
}

 
.header__logo--animated {
    animation: moveInBottom .5s ease-out .5s;
    animation-fill-mode: backwards;
}
 */
