@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animation";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/composition";

@import "layout/header";
@import "layout/grid";

@import "pages/home";

// write "npm run compile:sass when you want to convert"

// https://github.com/jonasschmedtmann/advanced-css-course




/* ================================= */
/* ================================= */

/* .header__logo {
    height: 3.5rem;
}

.header__logo--green {
    color: green;
}

.header__logo:hover {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    color: red;
    background-color: hotpink;
}

.header__logo--green::after {
    color: green;
}

.header__logo:hover::after {
    transform: scaleX(2) scaleY(2);
    opacity: 0;
}

 
.header__logo--animated {
    animation: moveInBottom .5s ease-out .5s;
    animation-fill-mode: backwards;
}
 */
