@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animation";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";

@import "layout/header";

@import "pages/home";

// write "npm run compile:sass when you want to convert"

/* .header__logo-box:hover {
    animation: moveInRight 1s ease-out;
}  */

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    backface-visibility: hidden;
    /* the usage of this property is normmaly for different purpose but here its used to get rid of the shaking at the end of the animation */
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        animation-name: moveInLeft;  
        /* you need to make the link to which selector you want the animation to happen */
        animation-duration: 1s;
        animation-timing-function: ease-out;
       
        /* 
        animation-delay: 3s;  //animation happnes three seconds after the reload
        animation-iteration-count: 3; // animation repeats three times 
        */
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
    
        animation: moveInRight 1s ease-out;
        /* you can shorten the properties and to have them like this works too */
    }
}  






/* ================================= */
/* ================================= */

/* .header__logo {
    height: 3.5rem;
}

.header__logo--green {
    color: green;
}

.header__logo:hover {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    color: red;
    background-color: hotpink;
}

.header__logo--green::after {
    color: green;
}

.header__logo:hover::after {
    transform: scaleX(2) scaleY(2);
    opacity: 0;
}

 
.header__logo--animated {
    animation: moveInBottom .5s ease-out .5s;
    animation-fill-mode: backwards;
}
 */
