* {
    margin: 0;
    padding: 0;
  }
  
  $color-primary: #f9ed69; //yellow color. Remember that it alwasy starts with $
  $color-secondary: #f08a5d; //orange
  $color-tertiary: #b83b5e; //pink
  $color-text-dark: #333; //grey
  $width-button: 150px;
  $color-text-light: #fff;
  
@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

@mixin style-link-text($color) {
    text-decoration: none;
    text-transform: uppercase;
    color: $color;
}


  nav {
    margin: 30px;
    background-color: $color-primary

    @include clearfix; 
    /* writing @include is how you call the mixin */
      
  }
  
  /* .clearfix {
      content: "";
      clear: both;
      display: table;
  } */
  
  
  .navigation {
    list-style: none;
    float: left;
    
    li {
      display: inline-block;
      margin-left: 30px;
      
      &:first-child { // & = .navigation li, it can replace the selector. here it is replacing .navigation li:first-child
        margin: 0;
      }
      
      a:link { //.navigation li a 
        @include style-link-text;
      }
    }
  }
  
  .buttons {
    float: right;
  }
  
  .btn-main:link,
  .btn-hot:link {
    padding: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 100px;
    width: $width-button;
    @include style-link-text;

  }
  
  .btn-main {
    &:link {
      background-color: $color-secondary;
    }
  
    &:hover {
      background-color: darken($color-secondary, 15%)
    }
  }
  
  .btn-hot {
    &:link {
      background-color: $color-tertiary;
    }
  
    &:hover {
      background-color: lighten($color-secondary, 15%)
    }
  }