.card {
    perspective: 150rem;
    -moz-perspective: 150rem; //this enable to work on firefox too. not relavant for other browesers, maybe?        
    //for perspective, the lower the value, the more dramatic the effect will be greater.

    &__side {
        background-color: orangered;
        color: #fff;
        font-size: 2rem;
        height: 50rem;
        transition: all .8s;

        &--front {

        }

        &--back {

            
        }

    }

    &:hover &__side {     //.card:hover .card__side { }
        transform: rotateY(180deg);
    }

 
}