.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit; //inherit just inherits the font of the main font set in this project
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent; //wihtout this, the box moves by 3px when they select because you add border-bottom in &__lable:focus 
        width: 90%;
        display: block;
    }

    &__input:focus { 
        outline: none; //outline is the hieghlighted color along the form-box when you select 
        box-shadow:0 1rem 2rem rgba($color-black, .1); //you need to let the user know where they are selecting if you are disable the outline effect
        border-bottom: 3px solid $color-primary;
    }

    &::-webkit-input-placeholder { //:: represents something that is not shown/existing on the page on default
        color: $color-grey-dark-2;
        

    }

    &__label {

    }
}


