.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
        float: left; //i added this
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit; //inherit just inherits the font of the main font set in this project
        color: inherit; 
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent; //wihtout this, the box moves by 3px when they select because you add border-bottom in &__lable:focus 
        width: 90%;
        display: block;
        transition: all .3s;

        &:focus { 
            outline: none; //outline is the hieghlighted color along the form-box when you select 
            box-shadow:0 1rem 2rem rgba($color-black, .1); //you need to let the user know where they are selecting if you are disable the outline effect
            border-bottom: 3px solid $color-primary;
        }

        &:focus:invalid { //invalid =. this will be in effect only when the input is invliad
            border-bottom: 3px solid $color-secondary-dark;
        }    

        &::-webkit-input-placeholder { //:: represents something that is not shown/existing on the page on default
            color: $color-grey-dark-2;
        }    
    }

    &__label { //this is what comes just beneath the form
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__radio-input {
        display: none;
    }

    &__input:placeholder-shown + &__label {  //this only works if there is no selecter between __input and __label in html file & = form-group
        // in this example, input and lable are called sibiling selecters
        // if there is something in between then you need to write as below
        // &__input:placeholder-shown ~ &__label
        opacity: 0;
        visibility: hidden; 
        transform: translateY(-4rem); //this is so that the lable comes in behind from the input box
    }

    &__radio-group {
        // width: 55%;
        // display: inline-block;
        margin-right: 3rem; //i added this
    }

    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem; 
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.4rem;

        &::after { //the selector dot that comes in the center of the button
            content: "";
            display: block;
            //every psuedo element, you need to define content element(empty) and display element
            height: 1.3rem; 
            width: 1.3rem; 
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity .2s;
        }
    }


    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        // ~ means the direct child right afer what you selected 
        // radio-input (checked version) ~ &__direct child element = radio-label &__direct child = radio-button
        opacity: 1;
    }
}


