.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: $color-white;
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    // & > * {
    //     transform: skewX(12deg);
    // }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left; //when floating left, remember that it has to have width and height defined
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%); //(radius% at ?% ?%)  
        //this defines only where the content flows around the element = for example, the blank space around this element will be a shape of this. the textgoes around this element
        -webkit-clip-path:  circle(50% at 50% 50%); 
        clip-path:  circle(50% at 50% 50%); 
        // you need to use clip-path property if you want an element to look in certain shape
        transform: translateY(-3rem) skewX(12deg);
        margin-right: 4rem; //I added this 
        position: relative;  
    }

    &__img {
        height: 100%; //defining width will leave the empty space at the bottom becaue the img is wider horizontaly and shorter vertically. so adjust it with the verticcal hegit

    }

    &__text {
        transform: skewX(12deg);
    }

    &__caption {
        position: absolute;
        top: 35%;
        left: 30%;
        transform: translte(-50%, -50%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
    }
}



