.section-about {
    background-color: $color-grey-light1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url(../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg); //tilting the whole section 
    margin-top: -10rem;

    & > * { //choosing only the direct child, but not the entire child. direct child here is .row -> refer to html
        //direct child selects only th efirst child that comes across 
        transform: skewY(7deg);
    }

    // & > * is equals to .section-features * 
}

.section-tours {
    background-color: $color-grey-light1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
}

.section-stories {
    position: relative;
    padding: 15rem 0;
    // background-color: $color-grey-light1; 
    // you dont want this anymore becaue you want to show the bg-video
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book {
    //solid color grandient
    //linear-gradient (ANGLE deg, color1 GRADIENT %, color2 GRADIENT%, color3 GRADIENT%, img)
    //ANGLE is the degree against x dirention = horizontal line.
    //GRADIENT% is starting point in width, where you want the color to to be faded in
    background-image: linear-gradient(105deg, 
                                    rgba($color-white, .9) 0%, 
                                    rgba($color-white, .9) 50%, 
                                    transparent 50%), 
                                    url(../img/nat-10.jpg);

    background-size: 100%; //you can also just say cover = 100%
    // this deterins the size of the img, not the box/section/elemt made for the img to be inserted
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    height: 50rem;

    &__form {
        width: 50%;
        padding: 6rem;
    }
}
